<h1>טבלת משתמשים <small>({{ users.length }})</small></h1>

<p *ngIf="!users.length">אין משתמשים</p>

<input type="search" [(ngModel)]="searchVal" placeholder="חיפוש">

<table *ngIf="users.length">
    <thead>
        <tr>
            <th>#</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>שם מלא</th>
            <th>אימייל</th>
            <th>טלפון</th>
            <th>תאריך לידה</th>
            <th>האם חסום?</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let u of users | search : searchVal; let i = index">
            <td [style.color]="'hsl(' + i*30 + ', 63%, 35%)'">
                {{ i + 1 }}
                <span *ngIf="!u.isBlocked"> - פעיל</span>
                <span *ngIf="u.isBlocked"> - לא פעיל</span>
            </td>
            <td><input type="text" [(ngModel)]="u.firstName"></td>
            <td><input type="text" [(ngModel)]="u.lastName"></td>
            <td>{{ u.firstName }} {{ u.lastName }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.birthday | date : 'dd/MM/yyyy' }}</td>
            <td [class.green]="u.isBlocked" [class.red]="!u.isBlocked" (click)="toggle(u)">
                <span [class.isActive]="u.isActive">{{ u.isBlocked ? 'v' : 'x' }}</span>
            </td>
        </tr>
    </tbody>
</table>