input[type=search] {
    padding: 6px;
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #037d9b;
    color: white;
}

th,
td {
    padding: 6px 8px;
    width: 10%;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #ccc;
}

td:last-child>span {
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

tr td:last-child {
    text-align: left;
}

.remove {
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.remove:hover {
    background: #c65454;
}

.remove:active {
    scale: 1.5;
}