<form class="frame" [formGroup]="form">
    <h2>יצירת משתמש</h2>

    <div class="field">
        <label>שם מלא:</label>
        <input type="text" formControlName="fullName">
    </div>

    <div class="field">
        <label>אימייל:</label>
        <input type="email" formControlName="email">
    </div>

    <div class="field">
        <label>סיסמה:</label>
        <input type="password" formControlName="password">
    </div>

    <div class="field">
        <button (click)="send()" [disabled]="!form.valid">צור</button>
    </div>
</form>